.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
 .btn{
  background-color: #06aa13;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
.clearButton{
  background: coral;
}
.active{
  background: green;
  font-weight: bold;
}
.active:hover{
  background: green;
}
.text{
 
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
} 
.dropdown{
  margin-top: 15px;
}
.optionSelect{
  padding: 10px 20px;
  background: rgb(73, 65, 65);
  outline: none;
  border: none;
  border-radius: 50px;
  color: white;
}
select option{
  padding: 10px;
  margin: 10px;
  font-weight: 20px;
}
/* 
.dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  left: 30px;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content ul{
  padding: 0px;
}
.dropdown-content li {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content li:hover {
  background-color: #8f4b4b;
  color: white;
  font-weight: bold;
}
.dropdown:hover .dropdown-content {
  display: block;
}

*/

